.header {
  background-color: rgb(91, 90, 90);
  color: white;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 20px;
}

.links {
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}

.link {
  text-decoration: underline;
  color: white;
  margin-bottom: 10px;
}

.link:hover {
  color: yellow;
}

.highlight {
  color: yellow;
}

.highlightNone {
  color: white;
}

/* end of header and nav css */

.ava {
  display: flex;
  justify-content: center;
}

.avatar {
  margin-top: 15px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.aboutMe {
  margin-top: 50px;
  text-decoration: underline;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bio2 {
  margin-top: 30px;
}

.black {
  min-height: 100vh;
  background-color: rgb(233, 230, 230);
}

/* end of About me css*/

.red {
  height: 200px;
}

/*.projects{
  display: flex;
  justify-content: center;
  
}*/

.projectSpace {
  margin-top: 15px;
}

.projectHeader {
  display: flex;
  justify-content: center;
}

.projectTitle {
  margin-top: 50px;
  text-decoration: underline;
}

.projectPic {
  height: 250px;
}

.projectSpace .projects .red {
  overflow: hidden; /* Ensures the image doesn't overflow the container */
}

.projectSpace .projects img {
  transition: transform 0.4s ease; /* Smooth zoom transition */
  width: 100%; /* Ensure the image takes up the full width of its container */
  height: auto; /* Maintain the aspect ratio */
}

/* Zoom effect on hover */
.projectSpace .projects img:hover {
  transform: scale(1.04); /* Zoom in by 10% */
}

/* end of project css */


.contactForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px !important;
  
}

.formSpace{
  margin-top: 15px;
}

.formLabel{
  font-weight: bolder;
}

.formInput{
  border-radius: 20px;
  margin-left: 10px;
  text-align: center;
}

.button{
  margin-top: 30px !important;
  display: flex;
  justify-content: center;
  
  
}

.formField:focus {
  
  outline: none; /* Optional: Removes the default blue outline */
}

.formSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tall{
  height: 150px;
}


.notification-bubble{
    color: red;
}

@media (min-width: 550px) {
  .max{
    max-width: 500px;
  }

  
}




@media (min-width: 576px) {
  .projectArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
  }

  .red {
    margin-bottom: 0;
    width: 250px !important;
  }

  .projectSpace {
    width: 250px !important;
  }
}

@media (min-width: 1025px) {
  .red {
    width: 350px !important;
  }

  .projectSpace {
    width: 350px !important;
  }
}

@media (min-width: 600px) {
  .links {
    flex-direction: row;
    font-size: 15px;
  }

  .link {
    margin-right: 20px;
  }

  .header {
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
}

@media (min-width: 800px) {
  .link {
    margin-right: 40px;
  }
}
