.header {
  background-color: rgb(91, 90, 90);
  color: white;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 20px;
}

.links {
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}

.link {
  text-decoration: underline;
  color: white;
  margin-bottom: 10px;
}

.link:hover {
  color: yellow;
}

.highlight {
  color: yellow;
}

.highlightNone {
  color: white;
}

/* end of header and nav css */

.ava {
  display: flex;
  justify-content: center;
}

.avatar {
  margin-top: 15px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.aboutMe {
  margin-top: 50px;
  text-decoration: underline;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bio2 {
  margin-top: 30px;
}

.black {
  min-height: 100vh;
  background-color: rgb(233, 230, 230);
}

/* end of About me css*/

@media (min-width: 600px) {
  .links {
    flex-direction: row;
    font-size: 15px;
  }

  .link {
    margin-right: 20px;
  }

  .header {
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
}

@media (min-width: 800px) {
  .link {
    margin-right: 40px;
  }
}
